@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600|Major+Mono+Display&display=swap');

:root {
	--primary-color: blue;
	--dark-color: black;
	--light-color: grey;
	--lose-color: red;
	--win-color: green;
	--modal-duration: 1.5s;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	line-height: 1.6;
	color: black;
}

.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	text-align: center;
}

.restart-btn {
	display: inline-block;
	background: var(--light-color);
	color: #333;
	padding: 0.3rem 1.5rem;
	cursor: pointer;
	outline: none;
	border: none;
}

.restart-btn:hover {
	background: var(--primary-color);
	color: #fff;
}

.header {
	text-align: center;
	margin: 1rem 0;
}

.header h1 {
	margin-bottom: 1rem;
}

.score {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: 1.1rem;
	color: #fff;
}

.score p:first-child {
	background: var(--primary-color);
}

.score p:last-child {
	background: var(--dark-color);
}

.choices {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap-gap: 2rem;
	margin-top: 3rem;
	text-align: center;
}
